<section class="wrapper grid gap-8 justify-items-center items-center pt-16 pb-12 md:grid-cols-2">
    <div class="flex justify-center rounded-xl shadow-md md:order-1" alt="">
        <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center h-96 m-1 rounded-md overflow-hidden w-full">
            <div class="flex rounded-md">
                <div class="grid grid-rows-2 gap-12">
                    <svg width="600" height="70">
                        <path id="wavePathSine" fill="none" stroke="white" stroke-width="4" />
                    </svg>
                    <svg width="600" height="70">
                        <path id="wavePathSquare" fill="none" stroke="white" stroke-width="4" />
                    </svg>
                    <svg width="600" height="70">
                        <path id="wavePathTriangle" fill="none" stroke="white" stroke-width="4" />
                    </svg>
                </div>
                
            </div>
        </div>
    </div>
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            Aprender síntesis de sonido y teoría musical nunca había sido tan fácil.
        </h1>
        <p>
            Únete para empezar a aprender teoría musical y síntesis de sonido, con métodos de aprendizaje que te ayudarán a comprender los conceptos para que puedas replicarlos en tus creaciones y proyectos musicales.
        </p>
        <a href="#" class="button mx-auto shadow-xl bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] md:mx-0">
            Comienza ahora
        </a>
    </article>
</section>

<section class="wrapper flex items-center text-center pt-16 pb-12 gap-4">
    <article>
        <h2 class="text-4xl font-bold mb-2 md:text-5xl">
            Que puedo hacer con SynthLab? 
        </h2>
    </article>
    <div class="w-[90%]">
        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    01
                </span>
                <span class="flex-1 p-2">
                    Aprendizaje creativo de teoría musical.
                </span>
            </p>

            <p class="text-black text-left ml-2">
                La aplicación ofrece lecciones de teoría musical que cubren conceptos fundamentales como escalas, acordes, y más términos interesantes.
            </p>
        </article>

        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    02
                </span>
                <span class="flex-1 p-2">
                    Quizes de teoría musical
                </span>
            </p>

            <p class="text-black text-left ml-2">
                Para ayudar a los músicos a reforzar y mejorar sus conceptos de teoría musical, poniendo en práctica todo el conocimiento adquirido.
            </p>
        </article>

        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    03
                </span>
                <span class="flex-1 p-2">
                    Simulador de Sintetizador Virtual
                </span>
            </p>

            <p class="text-black text-left ml-2">
                La aplicación ofrece un simulador de sintetizador virtual completo que incluye todos los parámetros esenciales para aprender síntesis de sonido.
            </p>
        </article>
    </div>
</section>

<section class="wrapper grid gap-8 justify-items-center items-center py-12 md:grid-cols-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/cable_synth.gif?alt=media&token=8e162001-b2f8-4cbc-8672-9469227b5d07"
    class="w-full max-w-lg rounded-xl border-8 border-slate-900 shadow-md" alt="">
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            Integración de teclado MIDI
        </h1>
        <p>
            Los usuarios pueden conectar un teclado MIDI a la aplicación para un aprendizaje práctico de síntesis sonora. La aplicación reconocerá las notas tocadas en tiempo real, permitiendo un aprendizaje interactivo al momento de tocar el sintetizador virtual.
        </p>
        <a href="#" class="button mx-auto shadow-xl bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] md:mx-0">
            Quiero probarlo!
        </a>
    </article>
</section>

<app-footer></app-footer>
