<section class="wrapper grid gap-8 justify-items-center items-center pt-16 pb-12 md:grid-cols-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/black_synth.gif?alt=media&token=1653b13c-ae77-4acb-81e6-ac4b625f8bcb"
    class="w-full max-w-lg rounded-xl border-8 border-slate-900 shadow-md md:order-1" alt="">
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            Learning sound synthesis and music theory has never been so easy.
        </h1>
        <p>
            Join to start learning music theory and sound synthesis, with learning methods that will help you understand the concepts so they can be replicated in your musical creations and projects.
        </p>
        <a href="#" class="button mx-auto shadow-xl bg-slate-900 hover:bg-orange-500 md:mx-0">
            Get Started
        </a>
    </article>
</section>

<section class="wrapper flex items-center text-center pt-16 pb-12 gap-4">
    <article>
        <h2 class="text-4xl font-bold mb-2 md:text-5xl">
            What can I do with SynthLab? 
        </h2>
    </article>
    <div class="w-[90%]">
        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    01
                </span>
                <span class="flex-1 p-2">
                    Creative Learning of Music Theory
                </span>
            </p>

            <p class="text-black text-left ml-2">
                The application provides music theory lessons covering fundamental concepts such 
                as scales, chords, sheet music reading, as well as the structure and components of 
                various musical genres.
            </p>
        </article>

        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    02
                </span>
                <span class="flex-1 p-2">
                    AI-Powered Melody Generator
                </span>
            </p>

            <p class="text-black text-left ml-2">
                To support music producers in their creative process, the application incorporates an 
                AI-based melody generator.
            </p>
        </article>

        <article class="space-y-2 mb-8">
            <p class="bg-white border-4 rounded-l-full font-bold flex items-center">
                <span class="bg-black text-white px-6 rounded-full py-2 hover:bg-orange-500">
                    03
                </span>
                <span class="flex-1 p-2">
                    Virtual Synthesizer Simulator
                </span>
            </p>

            <p class="text-black text-left ml-2">
                The application offers a comprehensive virtual synthesizer simulator that includes all 
                essential parameters for learning sound synthesis.
            </p>
        </article>
    </div>
</section>

<section class="wrapper grid gap-8 justify-items-center items-center py-12 md:grid-cols-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/cable_synth.gif?alt=media&token=8e162001-b2f8-4cbc-8672-9469227b5d07"
    class="w-full max-w-lg rounded-xl border-8 border-slate-900 shadow-md" alt="">
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            MIDI Keyboard Integration
        </h1>
        <p>
            Users can connect a MIDI keyboard to the application for practical music theory learning. 
            The application will recognize notes played in real-time, enabling interactive learning and 
            effective ear training.
        </p>
        <a href="#" class="button mx-auto shadow-xl bg-slate-900 hover:bg-orange-500 md:mx-0">
            I want to try it!
        </a>
    </article>
</section>
