.input-container {
    position: relative;
    display: inline-block;
}
  
.input-icon {
    position: absolute;
    top: 66%;
    font-size: 20px;
    right: 20px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.registrar-icono {
    font-size: 34px;
}

.equis-icono {
    font-size: 16px;
}

.debug {
    border: 1px solid red;
}

.fade-in-image { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out-image { animation: fadeOut 1s; }

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}