<div class="flex justify-center px-36">

    <div class="flex h-[90vh] justify-center items-center">
        <div class="flex bg-gray-100 rounded-[100px] px-36 py-20 border-y-[6px] border-orange-500">
            
            <div *ngIf="login && !registrar" class="flex justify-center fade-in-image">
                <div class="rounded-3xl py-12 md:px-14 px-8 bg-white border-2">
                    <form [formGroup]="iniciarSesionGroup">
            
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-3 bg-gradient-to-r from-[#f5743c] to-[#e43558] text-transparent bg-clip-text registrar-icono">login</span>
                            <span class="font-bold text-2xl bg-gradient-to-br from-gray-600 to-black text-transparent bg-clip-text custom-font-700"> Iniciar sesión</span>
                        </div>
            
                        <div class="mt-10">
                            <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Correo</label>
                            <input formControlName="correo_electronico"type="text" placeholder="Escribe tu correo electrónico..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                        </div>
            
                        <div class="mt-6">
                            <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Contraseña</label>
                            <input type="password" formControlName="contrasena" placeholder="Escribe tu contraseña..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                        </div>
            
                        <div class="flex justify-center w-full">
                            <button (click)="iniciarSesion($event)" [disabled]="loadingLogin" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-80 px-8 py-2.5 custom-font-500 text-center">Entrar</button>
                        </div>
                    
                    </form>
                </div>
            </div>
            
            <div class="flex justify-center items-center fade-in-image mx-8">
                <img src="assets/img/speaker-test.png" width="100%">
            </div>

            <div *ngIf="login && !registrar" class="flex justify-center fade-in-image">
                <div class="rounded-3xl py-12 md:px-14 px-8 bg-white border-2">
                    <form [formGroup]="registrarUsuarioGroup">
            
                        <div class="flex items-center">
                            <span class="material-symbols-outlined mr-3 bg-gradient-to-r from-[#f5743c] to-[#e43558] text-transparent bg-clip-text registrar-icono">celebration</span>
                            <span class="font-bold text-2xl bg-gradient-to-br from-gray-600 to-black text-transparent bg-clip-text custom-font-700"> Registrarse</span>
                        </div>
                        
                        <div *ngIf="steps == 0">
                            <div class="mt-10">
                                <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Nombre</label>
                                <input formControlName="nombre" formControlName="nombre" type="text" placeholder="Escribe tu nombre..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                            </div>
                    
                            <div class="grid gap-2 md:grid-cols-2 mt-5">
                                <div>
                                    <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Apellido Paterno</label>
                                    <input formControlName="apellido_paterno" type="text" placeholder="Escribe tu apellido paterno..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                                </div>
                                <div>
                                    <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Apellido Materno</label>
                                    <input formControlName="apellido_materno" type="text" placeholder="Escribe tu apellido materno..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                                </div>
                            </div>

                            <div class="flex justify-center w-full">
                                <button (click)="nextStepRegister()" [disabled]="this.registrarUsuarioGroup.controls['nombre'].invalid || this.registrarUsuarioGroup.controls['apellido_paterno'].invalid || this.registrarUsuarioGroup.controls['apellido_materno'].invalid" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-80 px-8 py-1.5 text-center"><mat-icon>chevron_right</mat-icon></button>
                            </div>
                        </div>

                        <div *ngIf="steps == 1" class="fade-in-image">
                            <div class="mt-10">
                                <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Correo electrónico</label>
                                <input formControlName="correo_electronico" type="text" placeholder="Escribe tu correo electrónico..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                            </div>

                            <div class="input-container w-full mt-5">
                                <div class="flex justify-between items-center">
                                    <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Contraseña</label>
                                    <div class="flex">
                                        <div class="flex items-center mb-1">
                                            <span [ngClass]="hasCapitalLetter ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined equis-icono mr-1">{{ hasCapitalLetter ? 'done' : 'close' }}</span>
                                            <span [ngClass]="hasCapitalLetter ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined">uppercase</span>
                                        </div>
                                        <div class="flex items-center mb-1 ml-5">
                                            <span [ngClass]="hasNumber ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined equis-icono mr-1">{{ hasNumber ? 'done' : 'close' }}</span>
                                            <span [ngClass]="hasNumber ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined">tag</span>
                                        </div>
                                        <div class="flex items-center mb-1 ml-5">
                                            <span [ngClass]="hasSymbol ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined equis-icono mr-1">{{ hasSymbol ? 'done' : 'close' }}</span>
                                            <span [ngClass]="hasSymbol ? 'text-green-500' : 'text-red-400'" class="material-symbols-outlined">emoji_symbols</span>
                                        </div>
                                    </div>
                                </div>
                                <input (input)="checkCorrectPasswordFormat()" formControlName="contrasena" [type]="hiddenPassword ? 'password' : 'text'" type="password" placeholder="Escribe tu contraseña..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                                <span class="material-symbols-outlined input-icon" (click)="changePasswordVisibility()">{{ hiddenPassword ? 'visibility_off' : 'visibility' }}</span>
                                <!-- <span class="custom-font-400 text-orange-500" style="font-size: 12px;">* Asegúrate que ésta contenga al menos una mayúscula, un número y un símbolo especial</span> -->
                            </div>
                            <div class="mt-5 input-container w-full">
                                <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Confirmar contraseña</label>
                                <input formControlName="confirmar_contrasena" [type]="hiddenConfirmationPassword ? 'password' : 'text'" type="password" placeholder="Escribe tu contraseña de nuevo..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                                <span class="material-symbols-outlined input-icon" (click)="changeConfirmationPasswordVisibility()">{{ hiddenConfirmationPassword ? 'visibility_off' : 'visibility' }}</span>
                                <!-- <span class="custom-font-400 text-orange-500" style="font-size: 12px;">* Asegúrate que ésta contenga al menos una mayúscula, un número y un símbolo especial</span> -->
                            </div>

                            <div class="flex justify-center w-full">
                                <button (click)="nextStepRegister()" [disabled]="(this.registrarUsuarioGroup.controls['correo_electronico'].invalid || this.registrarUsuarioGroup.controls['contrasena'].invalid || this.registrarUsuarioGroup.controls['confirmar_contrasena'].invalid) || (!hasCapitalLetter || !hasNumber || !hasSymbol)" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-80 px-8 py-1.5 text-center"><mat-icon>chevron_right</mat-icon></button>
                            </div>
                        </div>

                        <div *ngIf="steps == 2" class="fade-in-image">

                            <div class="mt-8">
                                <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500">Fecha de Nacimiento</label>
                                <input formControlName="fecha_nacimiento" type="date" class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block custom-font-300 w-full px-5 py-3.5">
                            </div>

                            <label class="block mb-1 text-sm font-bold text-gray-700 custom-font-500 mt-3">Selecciona un avatar</label>
                            
                            <div class="flex justify-between">
                                <img (click)="selectAvatar(avatar)" class="rounded-3xl hover:border-4 hover:border-[#ff6b30]" [ngClass]="avatar.checked ? 'border-4 border-[#ff6b30]' : ''" *ngFor="let avatar of avatares" [src]="avatar.img" width="20%">
                            </div>

                            <div class="flex justify-center">
                                <button (click)="nextStepRegister()" [disabled]="loading || (this.registrarUsuarioGroup.controls['fecha_nacimiento'].invalid || !avatarSelected)" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-6 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-full px-8 py-2.5 text-center custom-font-500">Registrarse</button>
                            </div>

                        </div>

                        <!-- <div class="grid grid-cols-4 gap-2 w-full border-2 border-red-500">
                            <div class="col-span-1">
                                <button (click)="steps = steps + 1" [disabled]="loadingLogin" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-full py-1.5 text-center"><mat-icon>chevron_left</mat-icon></button>
                            </div>
                            <div class="col-span-3">
                                <button (click)="steps = steps + 1" [disabled]="loadingLogin" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-full py-1.5 text-center"><mat-icon>chevron_right</mat-icon></button>
                            </div>
                        </div> -->
                        
            
                        <!-- <div class="flex justify-center w-full">
                            <button (click)="nextStepRegister()" [disabled]="this.registrarUsuarioGroup.controls['nombre'].invalid || this.registrarUsuarioGroup.controls['apellido_paterno'].invalid || this.registrarUsuarioGroup.controls['apellido_materno'].invalid" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-full text-sm w-80 px-8 py-1.5 text-center"><mat-icon>chevron_right</mat-icon></button>
                        </div> -->
                    
                    </form>
                </div>
            </div>

        </div> 
    </div>

</div>

<div class="background-container">

</div>