<form [formGroup]="registrarUsuarioGroup">
    <div class="flex justify-center mt-12">
        <div class="rounded-lg  w-2/5 py-6 px-14 border-2 border-b-orange-500">
            <h1 class="font-bold text-2xl bg-gradient-to-br from-gray-600 to-black text-transparent bg-clip-text">Registrarse</h1>
        
            <div class="mt-12">
                <label class="block mb-1 text-sm font-bold text-gray-700">Nombre</label>
                <input formControlName="nombre" formControlName="nombre" type="text" placeholder="Escribe tu nombre..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
            </div>
    
            <div class="grid gap-6 mb-6 md:grid-cols-2 mt-5">
                <div>
                    <label class="block mb-1 text-sm font-bold text-gray-700">Apellido Paterno</label>
                    <input formControlName="apellido_paterno" type="text" placeholder="Escribe tu apellido paterno..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
                </div>
                <div>
                    <label class="block mb-1 text-sm font-bold text-gray-700">Apellido Materno</label>
                    <input formControlName="apellido_materno" type="text" placeholder="Escribe tu apellido materno..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
                </div>
            </div>
    
            <div class="mt-5">
                <label class="block mb-1 text-sm font-bold text-gray-700">Correo electrónico</label>
                <input formControlName="correo_electronico" type="text" placeholder="Escribe tu correo electrónico..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
            </div>
    
            <div class="mt-5">
                <label class="block mb-1 text-sm font-bold text-gray-700">Contraseña</label>
                <input formControlName="contrasena" type="password" placeholder="Escribe tu contraseña..." class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
            </div>

            <div class="mt-5">
                <label class="block mb-1 text-sm font-bold text-gray-700">Fecha de Nacimiento</label>
                <input formControlName="fecha_nacimiento" type="date" class="disabled:bg-gray-200 focus:outline-none text-sm rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-orange-500 focus:border-b-orange-500 block w-full px-5 py-2.5">
            </div>
    
            <div class="flex justify-center w-full">
                <button [disabled]="loading" (click)="registrarUsuario()" class="text-white bg-gradient-to-br disabled:from-slate-500 disabled:to-slate-500 disabled:cursor-not-allowed hover:to-[#de0d37] from-[#f5743c] to-[#e43558] mt-10 focus:ring-4 focus:outline-none focus:ring-[#f8d0d0] font-medium rounded-lg text-sm w-80 px-8 py-2.5 text-center">Registrarse</button>
            </div>
    
        </div>
    </div>
</form>