<body class="font-sans">
    <div class="flex fixed h-screen w-full">
        <app-sidebar></app-sidebar>

        <div class="flex flex-col w-full">
            <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] text-white py-6">
                <h1 class="text-4xl font-bold text-center">Mi Información</h1>
            </div>

            <section *ngIf="usuario" class="wrapper grid gap-40 grid-cols-1 md:grid-cols-2">
                <article class="space-y-4 mt-8 w-80">
                    <div class="bg-gradient-to-r from-orange-400 to-pink-600 rounded-lg p-1 shadow-lg">
                        <div class="bg-white p-2 rounded-lg shadow-lg">
                            <h2 class="text-xl font-semibold text-gray-800">NOMBRE</h2>
                            <p class="text-lg text-gray-600">{{ usuario.nombre }}</p>
                        </div>
                    </div>
                    <div class="bg-gradient-to-r from-orange-400 to-pink-600 rounded-lg p-1 shadow-lg">
                        <div class="bg-white p-2 rounded-lg shadow-lg">
                            <h2 class="text-xl font-semibold text-gray-800">APELLIDO</h2>
                            <p class="text-lg text-gray-600">{{ usuario.apellido_paterno }} {{ usuario.apellido_materno}}</p>
                        </div>
                    </div>
                    <div class="bg-gradient-to-r from-orange-400 to-pink-600 rounded-lg p-1 shadow-lg">
                        <div class="bg-white p-2 rounded-lg shadow-lg">
                            <h2 class="text-xl font-semibold text-gray-800">EMAIL</h2>
                            <p class="text-lg text-gray-600">{{ usuario.correo_electronico }}</p>
                        </div>
                    </div>
                    <div class="bg-gradient-to-r from-orange-400 to-pink-600 rounded-lg p-1 shadow-lg">
                        <div class="bg-white p-2 rounded-lg shadow-lg">
                            <h2 class="text-xl font-semibold text-gray-800">CUMPLEAÑOS</h2>
                            <p class="text-lg text-gray-600">{{ usuario.fecha_nacimiento }}</p>
                        </div>
                    </div>
                </article>

                <div class="flex justify-center items-center">
                    <div class="relative">
                        <div class="bg-gradient-to-r from-orange-400 to-pink-600 rounded-full p-1 shadow-lg">
                            <img [src]="usuario.path_avatar" class="rounded-full h-72 w-72 object-cover">
                        </div>
                        <!--<div class="absolute bottom-2 right-2 bg-white p-2 rounded-full shadow-md">
                            <button class="text-gray-800 font-bold">Editar</button>
                        </div>-->
                    </div>
                </div>
            </section>

            <div *ngIf="!usuario" class="mt-12 flex justify-center items-center">
                <p-skeleton borderRadius="20px" width="20rem" height="20rem"></p-skeleton>
                <p-skeleton shape="circle" size="18rem" class="ml-12" />
            </div>
        </div>
    </div>
</body>