<nav class="h-20 flex justify-between px-7 items-center shadow-md fixed top-0 left-0 right-0 z-10 bg-white">
    <nav></nav>
    <img (click)="goToHome()" src="assets/img/synthlab.png" class="w-56 cursor-pointer">
    <img *ngIf="usuario" [matMenuTriggerFor]="menu" class="transition ease-in-out delay-[35ms] hover:-translate-y-1 flex justify-end rounded-full hover:border-[3px] hover:border-opacity-10 hover:border-black cursor-pointer" [src]="usuario.img" width="3%">
    <p-skeleton *ngIf="!usuario" shape="circle" size="3rem" styleClass="mr-2" />
    <mat-menu #menu="matMenu">
        <!-- <button (click)="goToUserDetail()" mat-menu-item>
          <mat-icon>manage_accounts</mat-icon>
          <span>Mi cuenta</span>
        </button> -->
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
    </mat-menu>
</nav>