<div>
    <header>
            @if(currentRoute && (currentRoute == '/' || currentRoute == '/about' || currentRoute == '/features')){
                <nav class=" bg-white h-20 flex items-center justify-between shadow-md fixed top-0 left-0 right-0 z-10">
                    <a (click)="goToHome()" class="cursor-pointer w-1/3 max-w-[140px]">
                        <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/synthlab.png?alt=media&token=8e4f8cbf-150a-4a40-a3a4-fe0d4a7e9467" class="w-full ml-5">
                    </a>
            
                    <input type="checkbox" id="menu" class="peer hidden">
                    <label for="menu" class="bg-open-menu w-6 h-5 bg-cover bg-center cursor-pointer peer-checked:bg-close-menu transition-all z-50 mr-5 md:hidden"></label>
            
                    <div class="fixed inset-0 bg-gradient-to-b from-white/70 to-black/70 translate-x-full peer-checked:translate-x-0 transition-transform md:static md:bg-none md:translate-x-0">
                        <ul class="absolute inset-x-0 top-24 p-12 bg-white w-[95%] mx-auto rounded-md h-max text-center grid gap-6 font-bold text-black text-xl shadow-2xl md:w-max md:bg-transparent md:p-0 md:grid-flow-col md:static">
                            <li (click)="goToHome()" class="cursor-pointer hover:text-orange-500">
                                <span>Home</span>
                            </li>
                            <li (click)="goToAbout()" class="cursor-pointer hover:text-orange-500">
                                <span>About Us</span>
                            </li>
                            <li (click)="goToFeatures()" class="cursor-pointer hover:text-orange-500">
                                <span>Features</span>
                            </li>
                            <li (click)="goToDashboard()" class="cursor-pointer hover:text-orange-500">
                                <span>Dashboard</span>
                            </li>
                        </ul>
                    </div>
            
                    <button class="button  shadow-sm shadow-slate-400/30 hidden py-3 mr-10 bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] lg:block" (click)="goToRegistrar()">Probar SynthLab</button>
                </nav>
            } @else {
                <nav class="h-20 flex justify-center items-center shadow-md fixed top-0 left-0 right-0 z-10 bg-white">
                    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/synthlab.png?alt=media&token=8e4f8cbf-150a-4a40-a3a4-fe0d4a7e9467" class="w-56">
                </nav>
            }
    </header>
</div>

<div class="pt-20">
    <router-outlet></router-outlet>
</div>
  