<nav class="flex h-screen">
    <div class="px-6 w-64 border-r-2 border-gray-300" >
        <img src="assets/img/synthlab.png" class="w-40 py-2 m-4">
        <h2 class="text-base font-bold mb-4 uppercase">Teoría Musical</h2>
        <ul>
            <li (click)="goToTeoriaMusical()" class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">piano</span>
                <span class="text-sm px-2">Aprende Teoría Musical</span>
            </li>
            <li (click)="goToQuiz()" class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">piano</span>
                <span class="text-sm px-2">Quiz de Teoría Musical</span>
            </li>
        </ul>
        <h2 class="text-base font-bold mb-4 uppercase">Síntesis Sonora</h2>
        <ul>
            <li (click)="goToSintesisSonora()" class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">graphic_eq</span>
                <span class="text-sm px-2">Aprende Síntesis Sonora</span>
            </li>
            <li (click)="goToSynth()" class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">graphic_eq</span>
                <span class="text-sm px-2">Experimenta con el Synth</span>
            </li>
        </ul>
    </div>
</nav>