<nav class="flex h-screen">
    <div class="px-6 w-64 border-r-2 border-gray-300" >
        <img src="assets/img/synthlab.png" class="w-40 py-2">
        <h2 class="text-base font-bold mb-4 uppercase">Aprender</h2>
        <ul>
            <li class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md" routerLink="/quiz">
                <span class="material-symbols-outlined cursor-pointer">piano</span>
                <span class="px-2">Teoría Musical</span>
            </li>
            <li class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">graphic_eq</span>
                <span class="px-2">Síntesis Sonora</span>
            </li>
        </ul>
        <h2 class="text-base font-bold mb-4 uppercase">Funcionalidades</h2>
        <ul>
            <li class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">network_intelligence_update</span>
                <span class="px-2">Experimenta con IA</span>
            </li>
            <li class="flex items-center mb-4 hover:text-orange-500 hover:cursor-pointer p-2 bg-gray-100 rounded-md">
                <span class="material-symbols-outlined cursor-pointer">electrical_services</span>
                <span class="px-2">Conecta tu teclado MIDI</span>
            </li>
        </ul>
    </div>
</nav>