<body class="font-sans">
    <div class="flex fixed h-screen w-full">
        <app-sidebar></app-sidebar>
        <div class="flex-grow p-4">
            <div class="flex items-center">
                <span class="material-symbols-outlined cursor-pointer">arrow_back</span>
                <span class="text-base bg-clip-text px-2 cursor-pointer">Regresar</span>
            </div>
            
            <div class="border-b-2 border-gray-300 my-4"></div>
            <div class="grid grid-cols-10 gap-4">
                <div class="col-span-10">
                    <div class="flex items-center mb-4 text-2xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 rounded-md">
                        <span class="material-symbols-outlined">play_lesson</span>
                        <span class="px-2">Aprende síntesis sonora básica </span>
                    </div>

                    <div class="grid grid-cols-2 gap-0 h-96 text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 rounded-md">
                        <div class="col-span-1">
                            <div class="grid grid-rows-3 h-full">
                                    <div class="bg-white m-1 rounded-md overflow-hidden">
                                        <div class="grid grid-cols-12 gap-2">
                                            <div class="flex col-span-2">
                                                <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                                    <span class="flex items-center font-bold px-2 transform -rotate-90">OSC1</span>
                                                </div>
                                            </div>
                                            <div class="flex col-span-2">
                                                <div class="flex flex-col items-center m-1 rounded-md overflow-hidden">
                                                    <p-knob [(ngModel)]="value" [size]="80" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="100" [step]="1"></p-knob>
                                                    <span class="text-orange-400 font-bold">LEVEL</span>
                                                </div>
                                            </div>
                                            <div class="flex col-span-2">
                                                <div class="flex flex-col items-center m-1 rounded-md overflow-hidden">
                                                    <p-knob [(ngModel)]="value" [size]="80" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="100" [step]="1"></p-knob>
                                                    <span class="text-orange-400 font-bold">PAN</span>
                                                </div>
                                            </div>
                                            <div class="flex col-span-6">
                                                <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center m-1 rounded-md overflow-hidden w-full">
                                                    <div class="flex bg-white m-1 rounded-md">
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">

                                </div>
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <div class="grid grid-rows-3 h-full">
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">
                                    <div class="flex flex-col">
                                        <span class="px-2">OSC1</span>
                                        <p-knob [(ngModel)]="value" [size]="50" [min]="0" [max]="100" [step]="1"></p-knob>
                                    </div>
                                </div>
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">

                                </div>
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>



