<body class="font-sans">
    <div class="flex fixed h-screen w-full">
        <app-sidebar></app-sidebar>
        <div class="flex-grow p-4">
            <div class="flex items-center">
                <span class="material-symbols-outlined cursor-pointer">arrow_back</span>
                <span class="text-base bg-clip-text px-2 cursor-pointer">Regresar</span>
            </div>
            
            <div class="border-b-2 border-gray-300 my-4"></div>
            <div class="grid grid-cols-10 gap-4">
                <div class="col-span-10">
                    <div class="flex items-center mb-4 text-2xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 rounded-md">
                        <span class="material-symbols-outlined">play_lesson</span>
                        <span class="px-2">Aprende Síntesis Sonora Básica </span>
                    </div>

                    <div class="grid grid-cols-2 gap-0 h-72 text-white bg-gradient-to-r from-[#e43558] to-[#e43558] p-2 rounded-md">
                        <div class="col-span-1">
                            <div class="grid grid-rows-2 h-full">
                                <div class="bg-white m-1 rounded-md overflow-hidden">
                                    <div class="grid grid-cols-12 gap-2">
                                        <div class="flex col-span-2">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                                <span class="flex items-center font-bold px-2 transform -rotate-90">OSC1</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="osc_unison" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="24" [step]="1"></p-knob>
                                                    <span class="text-orange-400 font-bold">UNISON</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="osc_wave" (ngModelChange)="changeWaveform(osc_wave)" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="100" [step]="1"></p-knob>
                                                <span class="text-orange-400 font-bold">WAVE</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-6">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center m-1 rounded-md overflow-hidden w-full">
                                                <div class="flex rounded-md">
                                                    <svg width="600" height="70">
                                                        <path id="wavePath" fill="none" stroke="white" stroke-width="3" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white m-1 rounded-md overflow-hidden">
                                    <div class="grid grid-cols-12 gap-2">
                                        <div class="flex col-span-2">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                                <span class="flex items-center font-bold px-2 transform -rotate-90">FILTR</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="frequency_filter" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="10" [max]="10000" [step]="10"></p-knob>
                                                    <span class="text-orange-400 font-bold">FREQ</span>
                                                </div>
                                            </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="resonance" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="1" [max]="20" [step]="1"></p-knob>
                                                <span class="text-orange-400 font-bold">RES</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-6">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center m-1 rounded-md overflow-hidden w-full">
                                                <div class="flex bg-white m-1 rounded-md">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <div class="grid grid-rows-2 h-full">
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">
                                    <div class="grid grid-cols-10 gap-5">
                                        <div class="flex col-span-2">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                                <span class="flex items-center font-bold px-2 transform -rotate-90">ENV</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="attack" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0.1" [max]="1" [step]="0.01"></p-knob>
                                                <span class="text-orange-400 font-bold">ATTACK</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="decay" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0.1" [max]="1" [step]="0.01"></p-knob>
                                                <span class="text-orange-400 font-bold">DECAY</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="sustain" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0.1" [max]="1" [step]="0.01"></p-knob>
                                                <span class="text-orange-400 font-bold">SUSTAIN</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="release" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0.1" [max]="1" [step]="0.01"></p-knob>
                                                <span class="text-orange-400 font-bold">RELEASE</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex bg-white m-1 rounded-md overflow-hidden">
                                    <div class="grid grid-cols-12 gap-2">
                                        <div class="flex col-span-2">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                                <span class="flex items-center font-bold px-2 transform -rotate-90">LFO</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="lfo_rate" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="50" [step]="0.5"></p-knob>
                                                    <span class="text-orange-400 font-bold">RATE</span>
                                                </div>
                                            </div>
                                        <div class="flex col-span-2">
                                            <div class="flex flex-col items-center m-1 rounded-md overflow-hidden cursor-pointer">
                                                <p-knob [(ngModel)]="lfo_depth" [size]="60" textColor="OrangeRed" valueColor="DarkOrange" rangeColor="Gainsboro" [strokeWidth]="5" [min]="0" [max]="50" [step]="0.5"></p-knob>
                                                <span class="text-orange-400 font-bold">DEPTH</span>
                                            </div>
                                        </div>
                                        <div class="flex col-span-6">
                                            <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center m-1 rounded-md overflow-hidden w-full">
                                                <div class="flex rounded-md">
                                                    <svg width="600" height="70">
                                                        <path id="wavePathLFO" fill="none" stroke="white" stroke-width="3" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-span-2 flex justify-center">
                            <div class="flex m-1 rounded-md overflow-hidden w-full">
                                <div class="piano">
                                    <button class="white-key C2-key"    (click)="playNote('C2')"></button>
                                    <button class="black-key Db2-key"   (click)="playNote('Db2')"></button>
                                    <button class="white-key D2-key"    (click)="playNote('D2')"></button>
                                    <button class="black-key Eb2-key"   (click)="playNote('Eb2')"></button>
                                    <button class="white-key E2-key"    (click)="playNote('E2')"></button>
                                    <button class="white-key F2-key"    (click)="playNote('F2')"></button>
                                    <button class="black-key Gb2-key"   (click)="playNote('Gb2')"></button>
                                    <button class="white-key G2-key"    (click)="playNote('G2')"></button>
                                    <button class="black-key Ab2-key"   (click)="playNote('Ab2')"></button>
                                    <button class="white-key A2-key"    (click)="playNote('A2')"></button>
                                    <button class="black-key Bb2-key"   (click)="playNote('Bb2')"></button>
                                    <button class="white-key B2-key"    (click)="playNote('B2')"></button>
                                    <button class="white-key C3-key"    (click)="playNote('C3')"></button>
                                    <button class="black-key Db3-key"   (click)="playNote('Db3')"></button>
                                    <button class="white-key D3-key"    (click)="playNote('D3')"></button>
                                    <button class="black-key Eb3-key"   (click)="playNote('Eb3')"></button>
                                    <button class="white-key E3-key"    (click)="playNote('E3')"></button>
                                    <button class="white-key F3-key"    (click)="playNote('F3')"></button>
                                    <button class="black-key Gb3-key"   (click)="playNote('Gb3')"></button>
                                    <button class="white-key G3-key"    (click)="playNote('G3')"></button>
                                    <button class="black-key Ab3-key"   (click)="playNote('Ab3')"></button>
                                    <button class="white-key A3-key"    (click)="playNote('A3')"></button>
                                    <button class="black-key Bb3-key"   (click)="playNote('Bb3')"></button>
                                    <button class="white-key B3-key"    (click)="playNote('B3')"></button>
                                    <button class="white-key C4-key"    (click)="playNote('C4')"></button>
                                    <button class="black-key Db4-key"   (click)="playNote('Db4')"></button>
                                    <button class="white-key D4-key"    (click)="playNote('D4')"></button>
                                    <button class="black-key Eb4-key"   (click)="playNote('Eb4')"></button>
                                    <button class="white-key E4-key"    (click)="playNote('E4')"></button>
                                    <button class="white-key F4-key"    (click)="playNote('F4')"></button>
                                    <button class="black-key Gb4-key"   (click)="playNote('Gb4')"></button>
                                    <button class="white-key G4-key"    (click)="playNote('G4')"></button>
                                    <button class="black-key Ab4-key"   (click)="playNote('Ab4')"></button>
                                    <button class="white-key A4-key"    (click)="playNote('A4')"></button>
                                    <button class="black-key Bb4-key"   (click)="playNote('Bb4')"></button>
                                    <button class="white-key B4-key"    (click)="playNote('B4')"></button>
                                    <button class="white-key C5-key"    (click)="playNote('C5')"></button>
                                    <button class="black-key Db5-key"   (click)="playNote('Db5')"></button>
                                    <button class="white-key D5-key"    (click)="playNote('D5')"></button>
                                    <button class="black-key Eb5-key"   (click)="playNote('Eb5')"></button>
                                    <button class="white-key E5-key"    (click)="playNote('E5')"></button>
                                    <button class="white-key F5-key"    (click)="playNote('F5')"></button>
                                    <button class="black-key Gb5-key"   (click)="playNote('Gb5')"></button>
                                    <button class="white-key G5-key"    (click)="playNote('G5')"></button>
                                    <button class="black-key Ab5-key"   (click)="playNote('Ab5')"></button>
                                    <button class="white-key A5-key"    (click)="playNote('A5')"></button>
                                    <button class="black-key Bb5-key"   (click)="playNote('Bb5')"></button>
                                    <button class="white-key B5-key"    (click)="playNote('B5')"></button>
                                    <button class="white-key C6-key"    (click)="playNote('C6')"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>



