<section class="wrapper grid gap-8 justify-items-center items-center pt-6 pb-12 md:grid-cols-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/synth.jpg?alt=media&token=a77acf6a-caea-40f7-b337-7c775dde85b9"
    class="w-full max-w-lg rounded-lg shadow-md md:order-1" alt="">
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            Learning sound synthesis and music theory has never been so easy.
        </h1>
        <p>
            Join to start learning music theory and sound synthesis, with learning methods that will help you understand the concepts so they can be replicated in your musical creations and projects.
        </p>
        <a href="#" class="button mx-auto shadow-xl bg-slate-800 md:mx-0">
            Get Started
        </a>
    </article>
</section>
