<body class="font-sans">
    <div class="flex fixed h-screen w-full">
        <app-sidebar></app-sidebar>
        <div class="flex-grow p-4">
            <div class="flex justify-end">
                <span class="text-base bg-clip-text px-2 font-bold cursor-pointer">{{ usuario.correo_electronico }}</span>
            </div>
            <div class="border-b-2 border-gray-300 my-4"></div>
            <div class="grid grid-cols-10 gap-4">
                <div class="col-span-10">
                    <div class="mb-4 text-2xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 rounded-md">
                        <span class="flex justify-center font-bold px-2">Bienvenido a SynthLab!</span>
                        <p class="flex justify-center px-2 text-lg">Aquí podrás encontrar todo lo que puedes hacer</p>
                    </div>
                    <div class="grid grid-cols-2 gap-0 h-80 text-white rounded-md">
                        <div class="col-span-1 p-1">
                            <div class="grid grid-rows-2 h-full">
                                <div (click)="goToTeoriaMusical()" class="cursor-pointer mb-6 text-3xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-4 rounded-lg shadow-md">
                                    <span class="flex justify-center font-bold">Lecciones de Teoría Musical</span>
                                    <p class="flex justify-center text-lg mt-2">Aprende teoría musical con Flashcards.</p>
                                </div>
                                <div (click)="goToTeoriaMusical()" class="cursor-pointer mb-6 text-3xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-4 rounded-lg shadow-md">
                                    <span class="flex justify-center font-bold">Lecciones de Síntesis Sonora</span>
                                    <p class="flex justify-center text-lg mt-2">Aprende síntesis sonora con Flashcards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1 p-1">
                            <div class="grid grid-rows-2 h-full">
                                <div (click)="goToQuiz()" class="cursor-pointer mb-6 text-3xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-4 rounded-lg shadow-md">
                                    <span class="flex justify-center font-bold">Quizes de Teoría Musical</span>
                                    <p class="flex justify-center text-lg mt-2">Refuerza tus conocimientos de teoría musical con quizes.</p>
                                </div>
                                <div (click)="goToSynth()" class="cursor-pointer mb-6 text-3xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-4 rounded-lg shadow-md">
                                    <span class="flex justify-center font-bold">Sintetizador Virtual</span>
                                    <p class="flex justify-center text-lg mt-2">Prueba, maneja y diseña sonidos con el nuevo sintetizador virtual básico que tenemos para ti.</p>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</body>
