<body class="font-sans">
    <div class="flex fixed h-screen w-full">
        <app-sidebar></app-sidebar>
        <div class="flex-grow p-4">
            <div class="flex justify-end">
                <span class="text-base bg-clip-text px-2 font-bold cursor-pointer">luis999</span>
            </div>
            <div class="border-b-2 border-gray-300 my-4"></div>
            <div class="grid grid-cols-10 gap-4">
                <div class="col-span-10">
                    <div class="mb-4 text-2xl text-white bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 rounded-md">
                        <span class="flex justify-center font-bold px-2">Bienvenido a SynthLab!</span>
                        <p class="flex justify-center px-2 text-lg">Aquí podrás encontrar todo lo que puedes hacer</p>
                    </div>
                    <div class="grid grid-cols-2 gap-0 h-80 text-white rounded-md">
                        <div class="col-span-1">
                            <div class="grid grid-rows-2 h-full">
                                <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                    <div (click)="goToTeoriaMusical()" class="cursor-pointer text-2xl text-orange-400 bg-white mx-4 mt-4 rounded-md h-28">
                                        <span class="flex justify-center font-bold px-2">Lecciones de Teoría Musical</span>
                                        <p class="flex justify-center px-2 text-lg">Aprende teoría musical con flashcards.</p>
                                    </div>
                                </div>
                                <div (click)="goToSintesisSonora()" class="cursor-pointer bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                    <div class="text-2xl text-orange-400 bg-white mx-4 mt-4 rounded-md h-28">
                                        <span class="flex justify-center font-bold px-2">Lecciones de Síntesis Sonora</span>
                                        <p class="flex justify-center px-2 text-lg">Aprende síntesis sonora con flashcards.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <div class="grid grid-rows-2 h-full">
                                <div (click)="goToQuiz()" class="cursor-pointer bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                    <div class="text-2xl text-orange-400 bg-white mx-4 mt-4 rounded-md h-28">
                                        <span class="flex justify-center font-bold px-2">Quizes de Teoría Musical</span>
                                        <p class="flex justify-center px-2 text-lg">Refuerza tus conocimientos de teoría musical con quizes.</p>
                                    </div>
                                </div>
                                <div (click)="goToSynth()" class="cursor-pointer bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden">
                                    <div class="text-2xl text-orange-400 bg-white mx-4 mt-4 rounded-md h-28">
                                        <span class="flex justify-center font-bold px-2">Sintetizador Virtual</span>
                                        <p class="flex justify-center px-2 text-lg">Prueba, maneja y diseña sonidos con el nuevo sintetizador virtual básico que tenemos para ti    .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</body>
