<div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] mx-10 mt-4 mb-1 rounded-md overflow-hidden shadow-md">
    <div class="text-2xl text-white mx-4 mt-4 rounded-md h-10">
        <span class="flex justify-center font-bold px-2">Features disponibles</span>
    </div>
</div>
<section class="wrapper grid gap-8 justify-items-center items-center pt-8 pb-12 md:grid-cols-2">
    <article class="text-center space-y-6">
        <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden shadow-md">
            <div class="text-2xl text-white mx-4 mt-2 rounded-md h-16">
                <span class="flex justify-center font-bold px-2">Lecciones de Teoría Musical</span>
                <p class="flex justify-center px-2 text-lg">Aprende teoría musical con flashcards.</p>
            </div>
        </div>
        <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden shadow-md">
            <div class="text-2xl text-white mx-4 mt-4 rounded-md h-16">
                <span class="flex justify-center font-bold px-2">Lecciones de Síntesis Sonora</span>
                <p class="flex justify-center px-2 text-lg">Aprende síntesis sonora con flashcards.</p>
            </div>
        </div>
        <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden shadow-md">
            <div class="text-2xl text-white mx-4 mt-4 rounded-md h-16">
                <span class="flex justify-center font-bold px-2">Quizes de Teoría Musical</span>
                <p class="flex justify-center px-2 text-lg">Refuerza tus conocimientos de teoría musical con quizes.</p>
            </div>
        </div>
        <div class="bg-gradient-to-r from-[#f5953c] to-[#e43558] m-1 rounded-md overflow-hidden shadow-md">
            <div class="text-2xl text-white mx-4 mt-4 rounded-md h-16">
                <span class="flex justify-center font-bold px-2">Sintetizador Virtual</span>
                <p class="flex justify-center px-2 text-lg">Prueba, maneja y diseña sonidos con el sintetizador virtual básico que tenemos para ti.</p>
            </div>
        </div>
    </article>
    <div class="flex justify-center rounded-xl shadow-md md:order-1" alt="">
        <div class="flex bg-gradient-to-r from-[#f5953c] to-[#e43558] items-center h-96 m-1 rounded-md overflow-hidden w-full">
            <div class="flex rounded-md">
                <svg width="600" height="70">
                    <path id="wavePathLFO" fill="none" stroke="white" stroke-width="4" />
                </svg>
            </div>
        </div>
    </div>
</section>