<body class="font-sans">
    <div class="flex fixed h-20 w-full">
        <app-sidebar></app-sidebar>
        <div class="flex-grow p-4">
            <div class="flex items-center">
                <span (click)="goToDashboard()" class="material-symbols-outlined cursor-pointer">arrow_back</span>
                <span (click)="goToDashboard()" class="text-base bg-clip-text px-2 cursor-pointer">Regresar</span>
            </div>
            
            <div class="border-b-2 border-gray-300 my-2"></div>

            <div class="grid grid-cols-10 gap-4 ">
                <div class="col-span-7">
                    <div class="flex items-center mb-4 text-2xl text-white bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] p-2 rounded-md h-10">
                        <span class="material-symbols-outlined">play_lesson</span>
                        <span *ngIf="lecciones && lecciones.length > 0" class="px-2">Lección {{lecciones[numeroLeccion-1]?.id}}: {{lecciones[numeroLeccion-1]?.titulo}}</span>
                    </div>
                    <div class="mb-4">
                        <swiper-container pagination="false" effect="coverflow" grab-cursor="true" mousewheel="true" navigation="true" keyboard="true" coverflow-effect-stretch="0" coverflow-effect-depth="200" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false">
                            <swiper-slide *ngFor="let descripcion of descripciones">
                                <div class="flex flex-col items-center text-xl bg-gradient-to-r from-[#f5953c] to-[#e43558] hover:cursor-pointer p-2 h-96 rounded-md">
                                    <div class="bg-white pt-6 px-10 h-96 rounded-md">
                                        <span>{{descripcion.contenido}}</span>
                                    </div>
                                </div>
                            </swiper-slide>
                        </swiper-container>
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="flex items-center mb-4 text-2xl text-white bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] p-2 rounded-md h-10">
                        <span class="material-symbols-outlined">table_chart_view</span>
                        <span class="px-2">Lecciones disponibles</span>
                    </div>
                    <div class="flex flex-col mb-4 text-lg text-black bg-gradient-to-r from-[#f5953c] to-[#e43558] p-2 h-80 rounded-md">
                        <div class="bg-white pt-3 px-2 h-80 rounded-md overflow-y-auto">
                            <div>
                                <ul>
                                    <li *ngFor="let leccion of lecciones" (click)="cambiarLeccion(leccion.id)"
                                    class="flex items-center mb-2 hover:text-orange-500 hover:cursor-pointer p-1 bg-gray-100 rounded-md">
                                        <span class="material-symbols-outlined cursor-pointer">play_arrow</span>
                                        <span class="px-1">{{leccion.id}}.</span>
                                        <span class="px-1">{{leccion.titulo}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button (click)="siguienteLeccion()" class="text-slate-50 block py-2 px-4 mx-2 rounded-md shadow-xl bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558]">
                            Siguiente Lección
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


