<section class="wrapper grid gap-8 justify-items-center items-center pt-8 pb-12 md:grid-cols-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/synthlab-src.appspot.com/o/Integrantes.jpeg?alt=media&token=88339593-93ee-4332-a343-5a519f8267e1"
    class="w-full max-w-lg rounded-xl border-8 border-slate-900 shadow-md md:order-1" alt="">
    
    <article class="text-center space-y-6 md:text-left md:space-y-8">
        <h1 class="text-4xl font-bold md:text-5xl">
            ¿Quienes somos?
        </h1>
        <p>
            Somos Juan Lomeli Fuentes y Luis Godínez Contreras, dos estudiantes de nivel ingenieria de la escuela CETI Colomos ubicada en Zapopan, Jalisco, México. Nos encontramos estudiando actualmente la carrera de Ingeniería en Desarrollo de Software, para la cual decidimos hacer esta Web App de Aprendizaje de Teoría Musical y Síntesis Sonora como nuestro proyecto de titulación, la cual fue hecha con el Frontend en Angular y el Backend en PHP.
        </p>
        <a href="https://github.com/imluisdev/synthlab" class="button mx-auto shadow-xl bg-gradient-to-br hover:to-[#de0d37] from-[#f5743c] to-[#e43558] md:mx-0">
            Visita el repositorio
        </a>
    </article>
</section>